.primary-btn {
	padding: 1.5rem 3.5rem;
	border-radius: 20px;

	// border: 2px solid var(--btn-secondary-color);
	border: none;
	background-color: var(--btn-primary-color);
	background-image: linear-gradient(
		315deg,
		var(--btn-primary-color) 0%,
		var(--btn-secondary-color) 74%
	);
	box-shadow: 0 0px 0px 5px rgba(var(--btn-primary-color), 0.7);
	background: var(--gradient-color);

	// background-image: linear-gradient(
	// 	180deg,
	// 	var(--primary-color-light),
	// 	var(--primary-color-dark)
	// );
	// border: 3px solid rgba(88, 134, 252, 0.76);
	// box-shadow: 0 0 30px 10x var(--primary-color-light);

	color: var(--btn-font-color);
	letter-spacing: 1px;
	font-size: 1.4rem;
	font-weight: 600;
	cursor: pointer;
	transition: background 1s;

	&:hover {
		background: var(--reverse-gradient-color);
	}

	&:active {
		transform: translateY(1px) scale(1);
	}
}
