.color-themes {
	display: flex;
	flex-direction: column;
	height: 4rem;
	position: fixed;
	top: 8rem;
	right: 2rem;
	z-index: 1000;
	display: none;

	.color {
		height: 4rem;
		width: 4rem;
		border: none;
		padding: 2rem;
		cursor: pointer;
		border-radius: 10px;
		margin: 0.5rem;
	}

	.green {
		background-color: #007f5f;
	}
	.blue {
		background-color: rgba(90, 125, 232, 1);
	}
	.dark {
		background-color: #282c35;
	}

	.black {
		background-color: #000;
	}
	.random {
		background-color: #7c2cff;
	}
}
