.header {
	background-color: #fff;
	width: 100%;
	position: relative;

	.navbar {
		height: 10rem;
		width: 100%;
	}

	.container {
		display: grid;
		grid-template-columns: 50rem 1fr;
		place-items: center;
		align-content: center;
		gap: 10rem;
		max-width: 120rem;
		margin: 0 auto;
		color: var(--font-color);

		@media only screen and (max-width: 480px) {
			& {
				grid-template-columns: 1fr;
				margin-top: 5rem;
			}
		}

		.primary-heading {
			font-size: 5.5rem;
			line-height: 1.4;
			animation: moveToRight ease-in 0.5s;
		}

		.sub-heading {
			font-size: 1.8rem;
			font-weight: 600;
			letter-spacing: 1px;
			margin: 2rem 0 4rem 0;
			color: var(--font-color-light);
			animation: moveToLeft ease-in 0.5s;
		}

		.img-container {
			width: 100%;
			
		}
		img {
			width: 100%;
			object-fit: cover;
			transform: scale(1);
			animation: rotate 5s infinite;
		}
	}
}

.products-section{
	width: 100%;
	padding: 5rem 0;
	position: relative;

	.title{
		text-align: center;
		margin: 10rem auto 5rem auto; 

		.heading-secondary{
			font-size: 4rem;
			margin: 0 auto;
			background: var(--gradient-color);
			background-clip: text;
			color: transparent;
			width: max-content;
			}

		.underline{
			width:6rem;
			height: 0.3rem;
			background: #aa47a5;
			margin: 0 auto;
		}
	}

	.container{
		width:100%;
		max-width: 120rem;
		margin: 0 auto;
		.article{
			display:flex;
			align-items:start;
			justify-content:center;

			flex-direction: row-reverse;
			flex-wrap: wrap;
			gap: 8rem;
			margin: 10rem 0;

			&:nth-child(even){
				flex-direction: row;
			}

			.img-container{
				width:100%;
				max-width:50%;

				img{
					width:100%;
					object-fit:cover;
				}

				@media only screen and (max-width: 480px){
					&{
						max-width:100%
					}
				}
			}

			.content{
				padding: 2rem;
				.title{
					font-size: 3rem;
					font-weight: 600;
					color: #444;
					text-align: left;
					margin:0 0 2rem 0;
				}

				.description{
					font-size: 1.5rem;
					color: #666;
					font-weight: 400;
					line-height:1.7;
					letter-spacing:1px;
					max-width: 50ch;
					margin-bottom: 4rem;
				}

				@media only screen and (max-width: 480px){
					&{
						max-width:100%
					}
				}
			}
		}
	}

}

@keyframes moveToRight {
	0% {
		transform: translateX(-15rem);
	}
	80% {
		transform: translateX(0.4rem);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes moveToLeft {
	0% {
		transform: translateX(15rem);
	}
	80% {
		transform: translateX(-0.4rem);
	}
	100% {
		transform: translateX(0);
	}
}
